{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>

<!--hr is a horizonal line-->
    <hr/>
    <!--conditonals html-->
    <!--if tasks list is empty display "no tasks yet"-->
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
    <!--the list bellow is what appends or returns the tasks list to html view-->
            <!--returns the name of object-->
        {% for post in posts %}
        <h2><a href="/single-post?id={{ post.id }}">{{ post.post_title }}</a></h2>
        <p>{{post.post_body}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}