{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>
    <h2>Enter a new post:</h2>
    <form method='post'>
      <label>
        Post Title:
      </label>
        <input type="text" name="title_post" value={{title_post}}>
        <p class="error">{{error_title}}</p>
      <br/>
      <label>
        Post:
      </label>
        <input type="textarea" name="blog_body" value={{blog_body}}>
        <p class="error">{{error_blog}}</p>
        <br/>
        <input type="submit" name="Submit Post" />
    </form>

        {% for post in posts %}
        <h2>{{post.title_post}}</h2>
        <p>{{post.blog_body}}</p>
        {% endfor %}

{% endblock %}